@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main_container flex">
    <div class="group_container flex">
        <div class="group_model flex">
            <div class="group_perf">
                <div class="img_container">
                    <img src="@Model.img_src" width="200"/>
                </div>
                <p style="font-weight: bold">
                    @Model.name
                    <a href="@Model.screen_name" target="_blank">
                        (перейти)
                    </a>
                </p>
            </div>
            <div class="group_info">
                <p class="stat_likes">
                    Количество лайков: @Model.post_likes
                </p>
                <p class="stat_members">
                    Количество участников: @Model.members
                </p>
                <p class="stat_posts">
                    Количество постов: @Model.post_count
                </p>
            </div>
        </div>
        <div class="best_post_container flex">
            <h2>Лучший пост (по кол-ву репостов):</h2>
            <div class="best_post">
                 <div class="best_post_content flex">
                     <img src="@Model.best_post_img_src"/>
                     <div class="text_info">
                         <p class="best_post_text">
                             @Model.post_text
                        </p>
                        <p>
                            Дата публикации: @Model.best_post_dt
                        </p>
                        <div class="best_post_stat flex">
                            <p>
                                Лайков: @Model.best_post_likes_count
                            </p>
                            <p>
                                Репостов: @Model.best_post_reposts_count
                            </p>
                            <p>
                                Просмотров: @Model.best_post_views_count
                            </p>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>